.jumbotron {
  margin-bottom: $jumbotron-padding;
  padding: ($jumbotron-padding * 2) $jumbotron-padding;
  background-color: $jumbotron-bg;
  @if $enable-rounded {
    @include border-radius($border-radius-lg);
  }

  @include media-breakpoint-down(sm) {
    padding: $jumbotron-padding ($jumbotron-padding / 2);
  }
}

.jumbotron-fluid {
  padding: {
    right: 0;
    left: 0;
  }
  @if $enable-rounded {
    @include border-radius(0);
  }
}
